* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/merlina2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.calculadora {
    text-align: center;
    align-items: center;
    margin-top: 180px;
    
}

#pantalla {
    background-color: rgb(5, 28, 32);
    height: 60px;
    width: auto;
    padding: 10px;
    font-size: 24px;
    margin-top: 100px;
    text-align: right;
    color: white;
    border-radius: 10px;

}

input[type="button"] {
    width: 70px;
    height: 50px;
}

input[type="button"]:hover {
    background-color: aqua;
}

input[type="button"]:last-child {
    margin-right: 0;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.boton button {
    width: 100px;
    height: 50px;
    background: red;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton button:hover {
    background-color: darkred;
}

@media only screen and (min-width: 600px) {

    #pantalla {
        opacity: 80%;
        height: 70%;
        width: auto;
        padding: 20px;
        font-size: 20px;
        margin-top: -1px;
        color: white;
        text-align: right;
    }

    input[type="button"] {
        height: 60px;
    }

    .calculadora {
        text-align: center;
        align-items: center;
        margin-top: 280px;
    }
}

@media only screen and (min-width: 1024px) {

    #pantalla {
        opacity: 80%;
        height: 40%;
        width: auto;
        padding: 20px;
        font-size: 20px;
        text-align: right;
    }

    body {
        background-image: url(../img/merlina.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

}